.list{
    width: 1000px;
    text-align: center;
    border-bottom: 1px solid #DEE6F5;
}

.container{
    width: 100%;
}

.table{
    display: flex;
    flex-direction: column;
}


.item{
    width: 200PX;
    font-size: 15px;
}

.itemH{
    width: 200px;
    font-size: 18px;
    color: #252525;
    padding-top: 30px;
}

.avatar{
    mix-blend-mode: multiply;
}